body {
  background-color: #1a1a1d;
  color: #c3073f;
}

p {
  font-family: futura-pt;
  font-size: 20px;
}

.app-container {
  text-align: center;
}

.header h1 {
  color: #feffff;
  font-family: sofiapro-regular;
}

h1 {
  color: #c3073f;
  font-family: sofiapro-bold;
}

h2 {
  font-family: futura-pt;
}

.header {
  background-color: #950740;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a:link {
  text-decoration: none;
}

button {
  background-color: #4e4e50;
  color: #feffff;
  cursor: pointer;
}

.login button {
  padding: 12px 48px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

.upload-link button {
  padding: 12px 36px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

.search input {
  width: 50%;
  height: auto;
  color: whitesmoke;
  background-color: #414a4c;
  padding: 14px 48px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

::placeholder {
  color: #feffff;
}

.watchlist button {
  padding: 12px 36px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

.top-movies {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.showcase {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.like-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.like-links button {
  color: #c3073f;
  background-color: #1a1a1d;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.movie-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.featured {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
